<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/login" routerLinkActive="active-link" (click)="sidenav.close()">Login</a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Employees
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/employee/list" routerLinkActive="active-link" (click)="sidenav.close()">Employee List</a>
          <a mat-list-item routerLink="/employee/new" routerLinkActive="active-link" (click)="sidenav.close()">Add New Employee</a>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  