.employee-list-container {
  padding: 20px;
}

.add-button {
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 200px;
}

table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
}

td.mat-cell, th.mat-header-cell {
  padding: 8px;
}

.mat-paginator {
  margin-top: 20px;
}
